<div class="todoListContainer">
    <div class="todoListTitles">
        <h3 class="titleColumn" (click)="setSort()">Issue Identifier</h3>
        <h3 class="titleColumn">Issue Detail</h3>
        <h3 class="assigneeColumn ">Assignee </h3>
        <h3 class="statusColumn center">Status</h3>
        <div class="actionsColumn center"><h3>Actions</h3></div>
    </div>
    <div class="lottie" *ngIf="!issues">
        <app-loading-lottie></app-loading-lottie>
    </div>
    <app-todo-item 
            *ngFor="let issue of issues | paginate: { itemsPerPage: 10, currentPage: p }" 
            [issue] ="issue"
            (deleteIssue)="onDeleteButtonClick($event)"
            (updateIssue)="updateIssue($event)" >
    </app-todo-item>
    <div class="footer" style="text-align: right;">
        <button mat-flat-button style="background-color: green;" (click)="onControlModal()">Add</button>
    </div>
    <div class="paginationControl">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>

    <div *ngIf="modal" class="modal">
        <app-add-modal (closeModalEvent)="closeModal($event)" (saveChangesEvent)="saveChanges($event)"></app-add-modal>
    </div>
    
</div>
